body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #a0a1b6;
}

/* color palette */
.first-color {
  background: #ececec;
}

.second-color {
  background: #cae6df;
}

.third-color {
  background: #385170;
}

.fourth-color {
  background: #142d4c;
}

.banner-outer {
  height: 2.5em;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.banner-inner {
  padding: 10px 5px;
  color: white;
}

.banner-user {
  font-weight: normal;
  font-size: 0.3em;
  text-align: right;
  color: white;
}

.banner-motto {
  font-weight: bold;
  font-size: 0.5em;
  font-style: italic;
  color: white;
}
