.App {
  background-color: #8c92ac;
}

.banner-outer {
  background-color: rgb(78, 76, 218);
  height: 2.5em;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.banner-inner {
  background-color: rgb(53, 41, 216);
  padding: 10px 5px;
}

.banner-user {
  font-weight: normal;
  font-size: 1rem;
  text-align: right;
}

.flex-parent {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-child {
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.flex-articles {
  background-color: #f8f8ff;
  width: 100%;
  text-align: left;
  margin: 5px;
}

.article-title {
  text-align: center;
  font-weight: bold;
}
.article-info {
  text-align: right;
  font-size: 9pt;
}

.article-excerpt {
  font-style: italic;
  font-size: 10pt;
}
